<!DOCTYPE html>
<html>
<head>
    <title>Page Title</title>
    <style>
        body {
            margin: 0;
            padding: 0;
            background-image: url("comming.png"); 
            background-size: cover;
            background-repeat: no-repeat;
            background-attachment: fixed;
            height: 100vh;
          
        }
        
    </style>
</head>
<body>

</body>
</html>
