
<h2>Bhaktapur Location on Map</h2>
<div id="wrapper-9cd199b9cc5410cd3b1ad21cab2e54d3">
		<div id="map-9cd199b9cc5410cd3b1ad21cab2e54d3"></div><script>(function () {
        var setting = {"query":"Bhaktapur Multiple Campus, Nagarkot Road, Bhaktapur, Nepal","width":1200,"height":600,"satellite":false,"zoom":12,"placeId":"ChIJYeQVlaMa6zkRHSx4RwGKG4o","cid":"0x8a1b8a0147782c1d","coords":[27.6691024,85.42089089999999],"lang":"en","queryString":"Bhaktapur Multiple Campus, Nagarkot Road, Bhaktapur, Nepal","centerCoord":[27.6691024,85.42089089999999],"id":"map-9cd199b9cc5410cd3b1ad21cab2e54d3","embed_id":"988765"};
        var d = document;
        var s = d.createElement('script');
        s.src = 'https://1map.com/js/script-for-user.js?embed_id=988765';
        s.async = true;
        s.onload = function (e) {
          window.OneMap.initMap(setting)
        };
        var to = d.getElementsByTagName('script')[0];
        to.parentNode.insertBefore(s, to);
      })();</script><a href="https://1map.com/map-embed">1 Map</a></div>
